// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

@import "./scss/bootstrap";
@import "./scss/Footer";
@import "./scss/Navbar";
@import "./scss/SimpleSlider";
@import "./scss/Categories";
@import "./scss/ContactUs";
@import "./scss/FabricGlossary";
// @import "./scss/auth";
// @import "./scss/screenLoader";

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    flex: 1 0 auto;
    margin-top: 30vh;
}
@media (max-width: 576px) {
    main {
      padding-top: 1.7em; /* For small mobile screens */
    }
  }
  
  @media (max-width: 768px) {
    main {
      padding-top: 1.2em; /* For tablets */
    }
  }
  
  