@import "./scss/bootstrap";
@import "./scss/Footer";
@import "./scss/Navbar";
@import "./scss/Topbar";
@import "./scss/SimpleSlider";
@import "./scss/Categories";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex: 1 0 auto;
  top: 0;
  margin-top: 152px;
}
.card{
  border: 0 !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}