.categories {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 80vh;
    // margin-top: 5em;
  }
  
  .left-section {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left-section p{
    font-size:xx-large;
  }
  .circular-slider-container {
    width: 80%;
    overflow: hidden;
  }
  
  .circle-image:focus {
    border: none;
  }
  .circle-image img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid grey;
  }
  
  
  
  /* Hide the arrow icons */
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  
  /* Adjust the positioning if necessary */
  .slick-slider {
    margin: 0 auto;
  }

  @media screen and (max-width: 500px) {
    .circular-slider-container {
      width: 100%;
    }
    .circle-image {
        width: 120px !important;
        height: 120px !important;
      }
      .circle-image img {
    
        width: 100%;
        height: 100%;
      }
      .left-section p{
        font-size: large;
      }
  }
  