form {
        input {
            margin: 0;
        width: 100%;
        padding: 15px;
        border-width: .5px;
        border-color: rgba(0, 0, 0, 0.352);
        border-radius: 40px;
    }
}
.signin {
    a {
        background-color: red;
        color: white;
        padding: 15px;
        border-radius: 25px;
        font-weight: bold;
        border: 0;
        text-decoration: none;
    }
    a:hover {
        background-color: rgb(190, 1, 1);
        color: rgba(255, 255, 255, 0.811);
        padding: 15px;
        border-radius: 25px;
        font-weight: bold;
        border: 0;
        text-decoration: none;
    }
}
#etc {
    display: flex;
    flex-direction: row;
    ul {
        list-style-type: none;
        li {
            a {
                
        text-decoration: none;
        color: black;
            }
        }
        
    }
}

#searchBox {
    display: flex;
    align-items: center;
    width: 40vw;
    border: 0.5px solid gray;
    border-radius: 7px;
}


#trackCartPro {
    display: flex;
    li {
        margin-left: 2rem;
    }
}
.header-area {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100000;
    background-color: white;
}

#topbar {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: white;
}




