#icons {
  display: flex;
  width: 30%;
  gap: 5%;
  padding-right: 2%;
  justify-content: flex-end;
}
a {
  color: black;
  text-decoration: none;
}
#searchBox {
  display: flex;
  align-items: center;
  width: 65%;
  border: 0.5px solid gray;
  border-radius: 7px;
}

#header-main {
  width: 100vw;
  height: 20vh;
  background-color: white;
  border: 1px solid black;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 100px;
}

.logo {
  width: 25px;
  height: 25px;
}

.logo-image {
  width: 170px;
  height: 100px;
}

.header-info-left {
  width: 70%;
  height: 100%;
}

#topbar {
  width: 100%;
  padding: 1em 0;
  background-color: white;
  height: 8vh;
  max-height: 70px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1020px) {
  #header-main {
    height: 15vh;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 30%;
    height: 70%;
  }
}
@media screen and (max-width: 520px) {
  .logo {
    width: 50%;
  }
}
